html {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

nav a {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
}

.i-192 {
  height: 30px;
}

.banner-content{
  background-color: rgba(255, 255, 255, .5);
  border-radius: 8px;
}

.banner-img {
  min-width: 873px;
}
